In [ ]:
Load and Explore the Data:

In [2]:
import pandas as pd

# Load the dataset
sales_df = pd.read_csv('/home/nandu/Downloads/Sales_add.csv')

sales_df.info()
sales_df.describe()
sales_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [ ]:
Hypothesis Testing for Sales Increase:

In [5]:
from scipy.stats import ttest_rel

# Formulate hypotheses
# H0: There is no increase in sales after digital marketing
# H1: There is an increase in sales after digital marketing

# Perform t-test
t_stat, p_value = ttest_rel(sales_df['Sales_before_digital_add(in $)'], sales_df['Sales_After_digital_add(in $)'])

# Check the p-value
if p_value < 0.05:
    print("Reject the null hypothesis. There is evidence of an increase in sales after digital marketing.")
else:
    print("Fail to reject the null hypothesis. There is no significant evidence of an increase in sales after digital marketing.")

Reject the null hypothesis. There is evidence of an increase in sales after digital marketing.

In [ ]:
Dependency Check:

In [7]:
from scipy.stats import chi2_contingency

# Formulate hypotheses
# H0: There is no dependency between Region and Manager
# H1: There is a dependency between Region and Manager

# Create a contingency table
contingency_table = pd.crosstab(sales_df['Region'], sales_df['Manager'])

# Perform chi-square test
chi2_stat, p_val, _, _ = chi2_contingency(contingency_table)

# Check the p-value
if p_val < 0.05:
    print("Reject the null hypothesis. There is evidence of dependency between Region and Manager.")
else:
    print("Fail to reject the null hypothesis. There is no significant evidence of dependency between Region and Manager.")

Fail to reject the null hypothesis. There is no significant evidence of dependency between Region and Manager.

In [10]:
# Save the changes to a new CSV file
sales_df.to_csv('Sales_add_modified.csv', index=False)